.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features h2 {
  font-size: 2em;
  text-align: center;
  background: #14F195;
  background: linear-gradient(to right, #14F195 0%, #9945FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature_div {
  text-align: center;
  margin-top: 3em;

}



.feature_div img {
  width: 150px !important;
}

@media screen and (max-width: 1000px) {
  .feature_div p {
    width: 60%;
  }

  .feature_div div:last-child {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .feature_div p {
    width: 90%;
  }

  .feature_div div:last-child {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features h2 {
    font-size: 1.9em;
  }

  .feature_div {
    margin-top: 0.3em;
  }
}