.HomepageWallets {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.HomepageWallets_row {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: normal
}

.WalletItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 2em;
  border-radius: 50%;
}