.HomepageWallets {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.HomepageWallets_row {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: normal
}

.WalletItem img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin: 1.2em;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .HomepageWallets_row {
    width: 80%;

  }

  .WalletItem img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 1em;
  
  }

}

@media screen and (max-width: 400px) {
  .HomepageWallets_row {
    width: 100%;

  }

}