/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;



}

.heroBanner div:first-child {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.heroBanner .hero__title {
  background: #14F195;
  background: linear-gradient(to right, #14F195 0%, #9945FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;

}

.hero__subtitle {
  width: 50%;
  text-align: center;
}

.intro_link {
  border-radius: 3em;
  background: linear-gradient(to top, #14F195, #9945FF);
  color: white;
  padding: 0.3em 2em;
  font-size: 1.5em;
}

.HomepageWalletImage {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet_image img {

  margin-bottom: 3em;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.6s ease;
  box-shadow: 0 0 10px 5px #14f19580, 0 0 10px 10px rgba(153, 69, 255, 0.5);
}

.wallet_image img {
  border-radius: 10px;
  width: 100%;

}

.wallet_image img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: -1;
  filter: blur(1px);
  transition: box-shadow 1s ease-in-out;
}

.wallet_image img:hover {
  animation: move-shadow 2s linear infinite;
}

@keyframes move-shadow {
  0% {
    box-shadow: 0 0 10px 5px rgba(20, 241, 149, 0.5), 0 0 12px 12px rgba(153, 69, 255, 0.5);
  }

  25% {
    box-shadow: 10px 0 10px 5px rgba(20, 241, 149, 0.5), 10px 0 12px 12px rgba(153, 69, 255, 0.5);
  }

  50% {
    box-shadow: 0 10px 10px 5px rgba(20, 241, 149, 0.5), 0 10px 12px 12px rgba(153, 69, 255, 0.5);
  }

  75% {
    box-shadow: -10px 0 10px 5px rgba(20, 241, 149, 0.5), -10px 0 12px 12px rgba(153, 69, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 10px 5px rgba(20, 241, 149, 0.5), 0 0 12px 12px rgba(153, 69, 255, 0.5);
  }
}

.HomepageInfo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.HomepageInfo b {
  background: #14F195;
  background: linear-gradient(to right, #14F195 0%, #9945FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HomepageInfo p {
  text-align: center !important;
  width: 70%;
}


@media screen and (max-width: 1000px) {
  .hero__subtitle {
    width: 70%;
    text-align: center;
  }

  .heroBanner .hero__title {
    font-size: 3.5em;
  }


}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


@media screen and (max-width: 850px) {
  .hero__subtitle {
    width: 80%;
  }


}

@media screen and (max-width: 710px) {
  .hero__subtitle {
    width: 80%;
    text-align: center;
  }

  .heroBanner .hero__title {
    font-size: 3em;
  }

  .hero__subtitle {
    width: 90%;
  }

}

@media screen and (max-width: 510px) {
  .hero__subtitle {
    width: 90%;
    text-align: center;
  }

  .heroBanner .hero__title {
    font-size: 2.5em;
  }

  .HomepageInfo p,
  .hero__subtitle {
    width: 90%;
  }

  .heroBanner {
    padding: 2em 0;
  }

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}